* {
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 2px;
  margin-right: 0.5em;
  border: 0.05em solid #388787;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before {
  background-color: #a9dca9;
}

.checkbox-container input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 3.5px #388787de;
}

.checkbox-container input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: #a9dca94d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #388787;
}

.action-buttons {
  display: flex;
  align-items: center;
}

.action-buttons button {
  border: none;
  background-color: transparent;
  padding-left: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  box-shadow: none !important;
}

.rm {
  background-image: url('./delete.svg');
  background-size: cover;
  margin-left: 0.7em;
}

.edit {
  background-image: url('./edit.svg');
  background-size: cover;
  padding-left: 21px !important;
  padding-bottom: 17px !important;
}
